body {
    background-color: #2F4F4F;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    border: 5px solid red;
    padding: 20px;
    margin: 50px;
    background-color: black;
    display: inline-block;
}
.content-box {
    background-color: #20c997;
    padding: 20px;
    border: 5px solid black;
    margin: 20px;
}
h1 {
       
    background-color: #3d1d1d;
    padding: 10px;
    font-size: 32px;
    display: block;
    width: 300px;
    margin: 20px auto;

}